@{
    ViewData["Title"] = "DISQUERA AVA";
}

<div>
    <h1>Catalogo de discos</h1>
    
@foreach(Disco disco in ViewBag.diccionario.Values)
    {
     <p>Nombre: @disco.nombre</p>
     <img src = /@ViewBag.foto alt = @ViewBag.nombre>
     <a href = '@Url.Action("MostrarDisco", "Home", new{ID = disco.ID})' > Ir a infoDiscos</a>
    }
</div>