@{
    ViewData["Title"] = "CATALOGO DE DISCOS DE AVA";
}

<div>
    <h1>Index</h1>

    @foreach(GrupoDiscos disco in ViewBag.ListDiscos.Values)
    {
        <p>Nombre del disco: @disco.nombre</p>
        <p>Nombre del disco: @disco.nombre</p>
    }
</div>
