@{
    ViewData["Title"] = "DISQUERA AVA";
}

<h1>Catalogo de discos</h1>
<div>
@foreach(Disco disco in ViewBag.diccionario.Values)
    {
     <div>
    <img src = /@ViewBag.fotos alt = @ViewBag.nombre>
     <p>Nombre: @disco.nombre</p>
     <a href = '@Url.Action("MostrarDisco", "Home", new{ID = disco.ID})' > Ir a infoDiscos</a>
     </div>
    }
</div>