*{
  background-color: bisque;
}

html {
  font-size: 14px;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

h1{
  text-decoration: underline;
  text-align: center;
  box-shadow: 5px 5px 5px black;
}

div div {
  width: 98%;
  height: auto;
  margin: 1%;
  margin-left: 0.1%;
  margin-right: 1%;
  border: 1px solid black;
  border-radius: 10px;
  background-color: bisque;
  padding: 1%;
  box-shadow: 5px 5px 5px black
  ;
}

div div p, a{
  font-size: large;
}
div p{
  text-decoration: double;
  text-decoration: underline;
  
}
  


div div p{
  text-transform: unset;
  font-size: large;
}

body {
  margin: 10px;
  padding: 10px;
}

footer {
  clear: both;
  margin-top: 10px;
  padding: 10px;
  background-color: #f8f9fa;
  border-top: 1px solid #e9ecef;
}